<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <form method="post" action="/addDetails" class="details-form">
            <h3>Enter your details</h3>
            <input type="text" name="song_name" placeholder="Enter song name" required/>
            <input type="text" name="film_name" placeholder="Enter film name" required/>
            <input type="text" name="music_dir" placeholder="Enter music director" required/>
            <input type="text" name="singer" placeholder="Enter singer" required/>
            <input type="text" name="actor" placeholder="Enter actor" required/>
            <input type="text" name="actress" placeholder="Enter actress" required/>
            <input type="submit" value="save" class="btn">
        </form>
    </div>
</body>
</html>