.container{
    text-align: center;
}
.form-group{
    margin: 10px;
}

.field
{
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin: 20px;
}